@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700|Source+Sans+Pro:300,400,700");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: medium none;
  outline: none;
  background-color: transparent;
  padding: 0; }

* {
  box-sizing: border-box; }

:root {
  --space-gap: 1rem; }

html {
  font-family: "Source Sans Pro", "Raleway", sans-serif;
  font-size: 15px; }

body {
  color: #58666e;
  background-color: #EFF3F4; }

header {
  min-height: 50px;
  position: sticky;
  top: 0;
  z-index: 2; }

img {
  max-width: 100%; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 1.875rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 0.875rem; }

h6 {
  font-size: 0.75rem; }

.label {
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  display: inline-flex; }

.label--rounded {
  border-radius: 1rem; }

.label--bowed {
  border-radius: 0.25rem; }

.label--small {
  font-size: 0.65rem;
  padding: 0.125rem 0.393rem; }

.label--medium {
  font-size: 0.75rem;
  padding: 0.125rem 0.3125rem; }

.label--large {
  font-size: 0.75rem;
  padding: 0.25rem 0.45rem; }

.label--default {
  color: #FFFFFF;
  background-color: #CFDADD; }

.label--primary {
  color: rgba(255, 255, 255, 0.9);
  background-color: #23b7e5; }

.label--info {
  color: rgba(255, 255, 255, 0.9);
  background-color: #7266ba; }

.label--success {
  color: rgba(255, 255, 255, 0.9);
  background-color: #27c24c; }

.label--warning {
  color: rgba(255, 255, 255, 0.9);
  background-color: #fad733; }

.label--important {
  color: rgba(255, 255, 255, 0.9);
  background-color: #F05050; }

.notification-timestamp {
  color: #98a6ad; }

.page-header {
  font-size: 1.5em;
  font-weight: 300; }

.text--light {
  font-weight: 300; }

.text--bold {
  font-weight: 700; }

.text--primary {
  color: #23b7e5; }

.text--info {
  color: #7266ba; }

.text--warning {
  color: #fad733; }

.text--success {
  color: #27c24c; }

.text--black {
  color: #000000; }

.text--gray {
  color: #58666e; }

.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.image--rounded {
  border-radius: 50%; }

.image30x30 {
  width: 30px;
  height: 30px; }

.image40x40 {
  width: 40px;
  height: 40px; }

.sticker {
  padding: 0.25rem 0.5rem;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  font-weight: 700;
  color: #58666e;
  background-color: #dee5e7;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.1) inset; }
  .sticker::after {
    content: "";
    color: #dee5e7;
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    bottom: 0;
    right: -12px;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-left: 6px solid;
    margin: auto; }

.sticker--warning {
  color: #FFFFFF;
  background-color: #fad733; }
  .sticker--warning::after {
    border-left-color: #fad733; }

.sticker--info {
  color: #FFFFFF;
  background-color: #7266ba; }
  .sticker--info::after {
    border-left-color: #7266ba; }

.sticker--primary {
  color: #FFFFFF;
  background-color: #23b7e5; }
  .sticker--primary::after {
    border-left-color: #23b7e5; }

.button {
  border-radius: 3px; }
  .button .fas {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.75rem; }
  .button span {
    padding: 0.75rem; }

.button--primary {
  color: #FFFFFF;
  background-color: #23b7e5; }

.button--info {
  color: #FFFFFF;
  background-color: #7266ba; }

.button--warning {
  color: #FFFFFF;
  background-color: #fad733; }

.button--large {
  font-size: 0.90rem;
  padding: 0.65rem 1rem 0.65rem 1rem; }

.user-progress-bar-label-wrapper {
  display: flex;
  align-items: center;
  min-height: 42px;
  justify-content: space-between; }

.user-progress-bar-wrapper {
  height: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden; }

.user-progress-bar-wrapper--thin {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden; }

.user-progress-bar {
  height: inherit; }

.user-progress-bar--primary .user-progress-bar {
  background-color: #23b7e5; }

.user-progress-bar--info .user-progress-bar {
  background-color: #7266ba; }

.user-progress-bar--warning .user-progress-bar {
  background-color: #fad733; }

.user-settings-body {
  padding: 0 0 1rem 0; }

.recent-activity-list-item {
  border-left: 1px solid #dee5e7;
  min-height: 55px; }
  .recent-activity-list-item:after {
    border: 1px solid #dee5e7; }

.recent-activity-list-item--primary {
  border-left: 1px solid #23b7e5; }
  .recent-activity-list-item--primary:after {
    border: 1px solid #23b7e5; }

.recent-activity-list-item--info {
  border-left: 1px solid #7266ba; }
  .recent-activity-list-item--info:after {
    border: 1px solid #7266ba; }

.recent-activity-list-item--warning {
  border-left: 1px solid #fad733; }
  .recent-activity-list-item--warning:after {
    border: 1px solid #fad733; }

.recent-activity-list-item--success {
  border-left: 1px solid #27c24c; }
  .recent-activity-list-item--success:after {
    border: 1px solid #27c24c; }

.highlighted .activity-task {
  position: absolute;
  background-color: #23b7e5;
  color: rgba(255, 255, 255, 0.9);
  width: calc(100% + 1.5rem);
  padding: 1rem;
  top: 0;
  left: -0.75rem;
  z-index: 1;
  border-radius: 3px; }
  .highlighted .activity-task a {
    display: none; }

.menu {
  background-color: #3a3f51;
  min-width: 200px;
  width: 75%;
  position: fixed;
  top: 50px;
  bottom: 0;
  z-index: 2;
  display: block;
  overflow-y: auto; }
  .menu nav {
    width: 100%;
    padding-bottom: 2rem; }
  .menu .navigation-header {
    color: #8b8e99;
    font-size: 0.75rem;
    display: flex;
    min-height: 42px;
    align-items: center;
    padding: 0 1rem; }
  .menu .navigation {
    border-bottom: 2px solid #2e3344;
    padding: 0.25rem 0; }
    .menu .navigation .fa-chevron-right {
      font-size: 0.55rem;
      text-align: center;
      margin-left: 0.25rem;
      line-height: 1.5rem;
      color: rgba(255, 255, 255, 0.3); }
  .menu .navigation-item-header {
    min-height: 42px;
    align-items: center;
    color: #b4b6bd;
    padding: 0.625rem 1.25rem; }
    .menu .navigation-item-header .navigation-item-header-label {
      font-size: 0.875rem; }
      .menu .navigation-item-header .navigation-item-header-label span {
        color: #b4b6bd; }
      .menu .navigation-item-header .navigation-item-header-label i {
        width: 1rem; }
    .menu .navigation-item-header .navigation-item-icon {
      margin-right: 1rem; }
  .menu .navigation-sub-item {
    min-height: 42px;
    align-items: center;
    color: #b4b6bd;
    padding: 0 1.25rem 0 3.5rem;
    display: flex;
    font-size: 0.80rem; }
    .menu .navigation-sub-item:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .menu .navigation-item-body {
    background-color: rgba(0, 0, 0, 0.3); }
  .menu .navigation-item-wrapper.active {
    background-color: rgba(0, 0, 0, 0.1); }
    .menu .navigation-item-wrapper.active span {
      color: rgba(255, 255, 255, 0.8); }
    .menu .navigation-item-wrapper.active .navigation-item-header {
      background-color: rgba(0, 0, 0, 0.1);
      color: #FFFFFF; }
    .menu .navigation-item-wrapper.active .fa-chevron-right {
      transform: rotate(90deg);
      transform-origin: center; }
  .menu .navigation-progress-bar {
    color: #b4b6bd;
    padding: 1.25rem 1.25rem 0 1.25rem; }
  .menu .navigation-progress-bar-label {
    font-size: 0.90rem;
    padding: 0 0 0.75rem 0; }

.social-menu-wrapper {
  background-color: #FFFFFF; }

.social-tabs-header {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .social-tabs-header .tab-headers {
    color: #98a6ad;
    padding: 1rem;
    justify-self: center;
    width: 100%;
    text-align: center;
    cursor: pointer; }
  .social-tabs-header .tab-headers.active {
    border-bottom: 1px solid #23b7e5;
    margin-bottom: -1px; }

.social-tabs-content {
  min-height: 250px; }
  .social-tabs-content .tab-content {
    padding: 1rem;
    display: none; }
  .social-tabs-content .tab-content.active {
    display: block; }
  .social-tabs-content .message-wrapper {
    box-shadow: none;
    grid-template-columns: 30px auto 0; }
    .social-tabs-content .message-wrapper .message-text {
      width: auto; }
    .social-tabs-content .message-wrapper:last-of-type {
      margin-bottom: 1rem; }
  .social-tabs-content .chat-button {
    color: rgba(0, 0, 0, 0.3); }
  .social-tabs-content .transaction-wrapper {
    padding: 0.375rem 0.625rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 0.375rem;
    color: #98a6ad; }
    .social-tabs-content .transaction-wrapper:nth-child(2n+2) {
      background-color: rgba(0, 0, 0, 0.02); }
    .social-tabs-content .transaction-wrapper h5 {
      margin-bottom: 0.25rem; }
  .social-tabs-content .tab-content-header {
    margin-bottom: 1rem; }

.recent-activity-wrapper {
  padding: 1rem; }
  .recent-activity-wrapper .recent-activity-list {
    position: relative;
    padding: 1rem 0; }
    .recent-activity-wrapper .recent-activity-list::after {
      content: "";
      display: block;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      background: #fff;
      position: absolute;
      bottom: 7px;
      left: -4px;
      border: 1px solid #dee5e7; }
  .recent-activity-wrapper .recent-activity-list-item {
    position: relative;
    padding: 0.75rem 1rem;
    font-size: 0.875rem; }
  .recent-activity-wrapper .recent-activity-list-item:after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #fff;
    position: absolute;
    top: 0.90rem;
    left: -5px; }
  .recent-activity-wrapper .activity {
    color: #58666e; }
  .recent-activity-wrapper .activity-user {
    color: #23b7e5; }
  .recent-activity-wrapper .activity-list-timestamp {
    color: #98a6ad;
    margin-bottom: 0.1875rem; }

.charts-stats {
  display: grid;
  padding: 0 var(--space-gap);
  grid-column-start: span 2; }

.charts-wrapper {
  display: grid;
  grid-gap: 1rem; }
  .charts-wrapper .charts {
    border-radius: 3px 3px 0 0;
    background-color: #FFFFFF;
    align-items: center;
    padding: 1rem;
    color: #a6a8b1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
    .charts-wrapper .charts h4 {
      margin-bottom: 3px; }
  .charts-wrapper .user-progress-bar-wrapper--light {
    background-color: rgba(255, 255, 255, 0.8); }
  .charts-wrapper .chart-header {
    color: #58666e; }

.report-stats-wrapper {
  background-color: #e4eaec;
  padding: 1rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .report-stats-wrapper .user-progress-bar-wrapper--light {
    background-color: #FFFFFF; }
  .report-stats-wrapper .report-progress-bar-footer {
    color: #98a6ad;
    padding-top: 1.5rem;
    line-height: 1.25; }

svg.chart {
  padding-top: 1rem; }

.dashboard-stats {
  display: grid;
  grid-gap: var(--space-gap);
  padding: var(--space-gap); }
  .dashboard-stats .cards-wrapper {
    display: grid;
    grid-gap: 1rem; }
    .dashboard-stats .cards-wrapper .stats {
      border-radius: 3px;
      background-color: #FFFFFF;
      justify-items: center;
      align-items: center;
      padding: 0.25rem;
      display: grid; }
      .dashboard-stats .cards-wrapper .stats i {
        font-size: 0.75rem;
        line-height: 1; }
    .dashboard-stats .cards-wrapper .stats--info {
      background-color: #7266ba;
      color: #FFFFFF; }
      .dashboard-stats .cards-wrapper .stats--info h1 {
        color: #FFFFFF; }
      .dashboard-stats .cards-wrapper .stats--info h5 {
        color: rgba(255, 255, 255, 0.8); }
      .dashboard-stats .cards-wrapper .stats--info .fa-cloud-upload-alt {
        color: #dee5e7; }
    .dashboard-stats .cards-wrapper .stats--primary {
      background-color: #23b7e5; }
      .dashboard-stats .cards-wrapper .stats--primary h1 {
        color: #FFFFFF; }
      .dashboard-stats .cards-wrapper .stats--primary h5 {
        color: rgba(255, 255, 255, 0.8); }
  .dashboard-stats .cards-wrapper--full-width {
    grid-template-columns: 1fr; }
  .dashboard-stats .cards-wrapper--half-width {
    grid-template-columns: 1fr 1fr; }
  .dashboard-stats .graph-info-wrapper {
    grid-template-columns: 90px 1fr;
    grid-gap: unset; }
    .dashboard-stats .graph-info-wrapper .graph-wrapper, .dashboard-stats .graph-info-wrapper .info-wrapper {
      padding: 1rem; }
    .dashboard-stats .graph-info-wrapper .graph-wrapper {
      background-color: #DDE6E9; }
    .dashboard-stats .graph-info-wrapper .info-wrapper {
      justify-items: center;
      grid-gap: 0.25rem;
      display: grid;
      background-color: #e4eaec;
      border-radius: 0 3px 3px 0; }
    .dashboard-stats .graph-info-wrapper .pie {
      width: 2.5rem;
      background: #f6f8f8;
      border-radius: 50%;
      margin: auto;
      display: block; }
      .dashboard-stats .graph-info-wrapper .pie circle {
        fill: none;
        stroke: #fad733;
        stroke-width: 32;
        stroke-dasharray: 60%; }
  .dashboard-stats .stats-info-wrapper .stats {
    grid-template-rows: 0.75rem auto auto 0.75rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    grid-row-gap: 0.35rem; }
    .dashboard-stats .stats-info-wrapper .stats h1 {
      grid-row-start: 2; }
    .dashboard-stats .stats-info-wrapper .stats h5 {
      grid-row-start: 3; }
    .dashboard-stats .stats-info-wrapper .stats:nth-child(1) i {
      justify-self: flex-end;
      grid-row-start: 4; }
    .dashboard-stats .stats-info-wrapper .stats:nth-child(2) i {
      justify-self: flex-end;
      grid-row-start: 4; }
    .dashboard-stats .stats-info-wrapper .stats:nth-child(3) i {
      justify-self: flex-start;
      grid-row-start: 1; }
    .dashboard-stats .stats-info-wrapper .stats:nth-child(4) i {
      justify-self: flex-start;
      grid-row-start: 4;
      padding-top: 0.75rem; }

.messages-stats {
  padding: 0 var(--space-gap) 2rem var(--space-gap);
  display: grid;
  grid-gap: 0.5rem; }

.message-wrapper {
  display: grid;
  grid-template-columns: 30px calc(100% - 30px - 1rem);
  grid-gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  overflow-x: hidden; }
  .message-wrapper .message-sender {
    margin-bottom: 0.1875rem; }
  .message-wrapper .message-text {
    color: #98a6ad; }

.availability-indicator--top {
  top: 0; }

.header-navbar {
  background-color: #3a3f51;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-navbar-logo {
  margin-left: 20px; }
  .header-navbar-logo i, .header-navbar-logo span {
    color: #eaebed;
    font-size: 1.15rem; }
  .header-navbar-logo i {
    margin-right: 0.5rem; }
  .header-navbar-logo span {
    font-weight: 700; }

.header-navbar-options {
  display: flex;
  flex-basis: 100px; }
  .header-navbar-options button {
    color: #a6a8b1;
    font-size: 1rem;
    min-height: 50px;
    flex-basis: 50%; }
  .header-navbar-options .settings-option-btn {
    background-color: #2e3344; }

.settings-option-wrapper {
  color: #58666e;
  font-size: 0.85rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  position: fixed;
  z-index: 2;
  width: 100%; }
  .settings-option-wrapper i {
    margin: 0 0.20rem; }
  .settings-option-wrapper .settings-option-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .settings-option-wrapper .settings-option-item:last-child {
      border-bottom: medium none; }
  .settings-option-wrapper .settings-option-header {
    display: flex;
    align-items: center;
    min-height: 42px;
    padding: 0 0.80rem;
    justify-content: space-between; }
  .settings-option-wrapper .settings-option-body {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .settings-option-wrapper .settings-option-body .dropdown-menu-wrapper .dropdown-menu-header-wrapper {
      padding: 0.5rem 0.80rem 0.5rem 1rem; }
    .settings-option-wrapper .settings-option-body .dropdown-menu-wrapper .dropdown-menu-header {
      color: #58666e; }
    .settings-option-wrapper .settings-option-body .dropdown-menu-item {
      padding: 1rem 0 0 0; }
    .settings-option-wrapper .settings-option-body .dropdown-submenu-wrapper {
      display: grid;
      grid-template-columns: 50% 50%;
      padding: 0 1rem 0 1rem; }
      .settings-option-wrapper .settings-option-body .dropdown-submenu-wrapper .dropdown-submenu-item {
        padding: 0.5rem 0; }
        .settings-option-wrapper .settings-option-body .dropdown-submenu-wrapper .dropdown-submenu-item i {
          font-size: 0.50rem;
          color: #98a6ad; }
  .settings-option-wrapper .fa-sort-down {
    font-size: 0.75rem; }
  .settings-option-wrapper .dropdown-graph-wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    padding: 0 0 1rem 0; }
    .settings-option-wrapper .dropdown-graph-wrapper svg {
      grid-column-start: 2; }

.settings-option-item.active .settings-option-header {
  background-color: #EEEEEE; }

.settings-option-item.active .availability-indicator {
  border-color: #EEEEEE; }

.settings-option-item.active .settings-option-body {
  border-top-color: #EEEEEE; }
  .settings-option-item.active .settings-option-body .dropdown-menu-header {
    color: #2e3344; }

.settings-option-item.active .user-settings-header {
  background-color: #EEEEEE; }

.user-availability {
  position: relative; }
  .user-availability .availability-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    right: -3px;
    border: 3px solid #FFFFFF; }
  .user-availability .availability-indicator--available {
    background-color: #27c24c; }
  .user-availability .availability-indicator--busy {
    background-color: #F05050; }
  .user-availability .availability-indicator--away {
    background-color: #fad733; }

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1); }

.notifications-wrapper-header {
  display: flex;
  align-items: center;
  min-height: 42px;
  padding: 0 0.80rem;
  justify-content: space-between;
  background-color: #EEEEEE; }

.notification {
  display: flex;
  min-height: 50px;
  padding: 0.5rem 0.80rem 0.5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .notification:last-child {
    border-bottom: medium none; }
  .notification img {
    margin-right: 1rem; }
  .notification .notification-content {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column; }

.notification-settings {
  justify-content: space-between;
  align-items: center; }
  .notification-settings i {
    font-size: 0.75rem; }

.user-settings-header {
  padding: 0 0.80rem 1rem 0.80rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.page-header-wrapper {
  background-color: #f6f8f8;
  border-bottom: 1px solid #dee5e7;
  padding: 1rem 0.95rem 1rem 0.95rem; }
  .page-header-wrapper h3 {
    line-height: 1;
    margin-bottom: 3px; }
  .page-header-wrapper h5 {
    color: rgba(0, 0, 0, 0.6); }

.teammates-stats {
  padding: var(--space-gap); }

.teammate-header-wrapper {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0; }

.teammate-body-wrapper {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px; }

.teammate-indicators-wrapper {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: 1fr 1fr 1fr; }

.teammate-indicator--info i {
  color: #7266ba; }

.teammate-indicator--primary i {
  color: #23b7e5; }

.teammate-indicator--warning i {
  color: #fad733; }

.teammate-body-wrapper {
  background-color: #FFFFFF; }

.teammate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .teammate:last-child {
    border-bottom: 0; }
  .teammate .teammate-image {
    width: 40px;
    border-radius: 4px; }
  .teammate h5 {
    width: 100%;
    padding: 0 1rem; }

.task-stats {
  display: grid;
  padding: var(--space-gap) var(--space-gap) 0 var(--space-gap);
  grid-column-start: span 2; }
  .task-stats .tasks-wrapper {
    display: grid;
    grid-gap: 0.65rem;
    background-color: #FFFFFF;
    padding: 1rem 1rem 0 1rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 0.875rem; }
    .task-stats .tasks-wrapper h4 {
      margin-bottom: 0.75rem; }
  .task-stats .task-wrapper {
    display: inline-grid;
    grid-template-columns: 3.20rem auto;
    grid-column-gap: 1.2rem;
    align-items: center; }

.donut-progress-bar {
  width: 80%;
  max-width: 180px; }

.donut-progress-bar-wrapper {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0 0 3px 3px;
  justify-items: center;
  align-items: center;
  padding: 0.25rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .donut-progress-bar-wrapper .chart-text {
    font: 15px "Source Sans Pro", "Raleway", sans-serif;
    fill: #98a6ad;
    transform: translateY(0.1rem); }
  .donut-progress-bar-wrapper .chart-number {
    font-size: 0.35rem;
    text-anchor: middle; }
  .donut-progress-bar-wrapper h6 {
    font-weight: 700;
    color: #98a6ad;
    text-align: center;
    margin-bottom: 1.5rem; }

.donut-progress-bar-wrapper--info .chart-number {
  fill: #7266ba; }

.donut-progress-bar-wrapper--primary .chart-number {
  fill: #23b7e5; }

@media screen and (min-width: 768px) {
  .page-body {
    display: grid;
    grid-template-columns: 200px auto; }
  .menu {
    position: relative;
    top: 0;
    z-index: initial;
    width: 200px; }
    .menu nav {
      position: fixed;
      top: 50px;
      width: inherit;
      bottom: 0;
      z-index: 2;
      display: block;
      overflow-y: auto; }
  aside.menu--expanded {
    display: block;
    grid-row-end: 3;
    grid-row-start: 1; }
  .header-navbar {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 200px auto; }
  .header-navbar-options {
    width: 50px;
    display: inherit; }
    .header-navbar-options .menu-option-btn {
      display: none; }
  .header-navbar-options .settings-option-btn {
    background-color: rgba(0, 0, 0, 0.1); }
  .settings-option-wrapper {
    width: calc( 100% - 200px);
    right: 0; }
  .charts-stats {
    grid-template-columns: auto 280px; } }

@media screen and (min-width: 992px) {
  :root {
    --space-gap: 1.25rem; }
  html {
    font-size: 16px; }
  .page-body {
    grid-template-columns: 200px auto 230px; }
  .settings-option-wrapper {
    width: calc( 100% - 230px);
    max-width: 765px; }
  .dashboard-stats {
    grid-template-columns: 4fr 5fr;
    grid-column-start: span 2;
    grid-gap: 1.25rem;
    padding: 1.25rem; }
    .dashboard-stats .graph-info-wrapper {
      grid-column-start: 1;
      grid-template-columns: 0 1fr; }
    .dashboard-stats .chart-stats-wrapper {
      grid-column-start: 2;
      grid-row-end: 3;
      grid-row-start: 1; }
  .dashboard-stats-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .task-stats {
    grid-template-columns: 1fr 1fr; }
    .task-stats .tasks-wrapper {
      padding: 1rem 1rem 1rem 1rem;
      border-right: 1px solid rgba(0, 0, 0, 0.1); }
  .charts-stats {
    padding: 0 var(--space-gap) 0 var(--space-gap); }
  .task-stats {
    padding: var(--space-gap) var(--space-gap) 0 var(--space-gap); }
  .teammates-stats {
    padding: var(--space-gap); }
  .messages-stats {
    padding: var(--space-gap) var(--space-gap) 2rem 0; } }

@media screen and (min-width: 1280px) {
  .page-body {
    grid-template-columns: 320px auto 240px; }
  .settings-option-wrapper {
    width: calc( 100% - 320px); }
  .menu {
    width: 320px; }
  .tab-headers {
    padding: 1.4rem 2rem; }
  .dashboard-stats .graph-info-wrapper {
    grid-template-columns: 90px 1fr; } }

.hide {
  display: none; }

.center {
  margin: auto;
  display: inherit; }
