@media screen and (min-width: 768px){
  .page-body {
    display: grid;
    grid-template-columns: 200px auto;
  }
  .menu {
    position: relative;
    top: 0;
    z-index: initial;
    width: 200px;
    nav {
      position: fixed;
      top: 50px;
      width: inherit;
      bottom: 0;
      z-index: 2;
      display: block;
      overflow-y: auto;
    }
  }
  aside.menu--expanded {
    display: block;
    grid-row-end: 3;
    grid-row-start: 1;
  }
  .header-navbar {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 200px auto;
  }
  .header-navbar-options {
    width: 50px;
    display: inherit;
    .menu-option-btn {
      display: none;
    }
  }
  .header-navbar-options .settings-option-btn {
    background-color: $black-o-10;
  }
  .settings-option-wrapper {
    width: calc( 100% - 200px);
    right: 0;
  }
  .charts-stats{
    grid-template-columns: auto 280px;
  }
}

@media screen and (min-width: 992px){
  :root {
    --space-gap: 1.25rem;
  }
  html {
    font-size: 16px;
  }
  .page-body {
    grid-template-columns: 200px auto 230px;

  }
  .settings-option-wrapper {
    width: calc( 100% - 230px);
    max-width: 765px;
  }
  .dashboard-stats {
    grid-template-columns: 4fr 5fr;
    grid-column-start: span 2;
    grid-gap: 1.25rem;
    padding: 1.25rem;
    .graph-info-wrapper {
      grid-column-start: 1;
      grid-template-columns: 0 1fr;
    }
    .chart-stats-wrapper {
      grid-column-start: 2;
      grid-row-end: 3;
      grid-row-start: 1;
    }
  }
  .dashboard-stats-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .task-stats {
    grid-template-columns: 1fr 1fr;
    .tasks-wrapper {
      padding: 1rem 1rem 1rem 1rem;
      border-right: 1px solid $black-o-10;
    }
  }
  .charts-stats {
    padding: 0 var(--space-gap) 0 var(--space-gap);
  }
  .task-stats {
    padding: var(--space-gap) var(--space-gap) 0 var(--space-gap);
  }
  .teammates-stats {
    padding: var(--space-gap);
  }
  .messages-stats {
    padding: var(--space-gap) var(--space-gap) 2rem 0;
  }
}

@media screen and (min-width: 1280px){
  .page-body {
    grid-template-columns: 320px auto 240px;
  }
  .settings-option-wrapper {
    width: calc( 100% - 320px);
  }
  .menu {
    width: 320px;
  }
  .tab-headers {
    padding: 1.4rem 2rem;
  }
  .dashboard-stats .graph-info-wrapper {
    grid-template-columns: 90px 1fr;
  }
}

