.button {
  border-radius:3px;
  .fas {
    background-color: $black-o-10;
    padding: 0.75rem;
  }
  span {
    padding: 0.75rem;
  }
}
.button--primary {
  color: $white;
  background-color: $picton-blue;
}
.button--info {
  color: $white;
  background-color: $blue-violet;
}
.button--warning {
  color: $white;
  background-color: $bright-sun;
}

.button--large {
  font-size: 0.90rem;
  padding: 0.65rem 1rem 0.65rem 1rem;

}