// default label
.label {
  font-weight: 700;
  text-shadow: 0 1px 0 $black-o-10;
  display: inline-flex;
}
// Label curves
.label--rounded {
  border-radius: 1rem;
}
.label--bowed {
  border-radius: 0.25rem;
}

// Label sizes
.label--small {
  font-size: 0.65rem;
  padding: 0.125rem 0.393rem;
}
.label--medium {
  font-size: 0.75rem;
  padding: 0.125rem 0.3125rem;
}
.label--large {
  font-size: 0.75rem;
  padding: 0.25rem 0.45rem;

}

// label role
.label--default {
  color: $white;
  background-color: $geyser-dark;
}

.label--primary {
  color: $white-o-90;
  background-color: $picton-blue;
}
.label--info {
  color: $white-o-90;
  background-color: $blue-violet;
}
.label--success {
  color: $white-o-90;
  background-color: $jungle-green;
}
.label--warning {
  color: $white-o-90;
  background-color: $bright-sun;
}
.label--important {
  color: $white-o-90;
  background-color: $carnation;
}