.recent-activity-list-item {
  border-left: 1px solid $geyser;
  min-height: 55px;
  &:after {
    border: 1px solid $geyser;
  }
}

.recent-activity-list-item--primary {
  border-left: 1px solid $picton-blue;
  &:after {
    border: 1px solid $picton-blue;
  }
}
.recent-activity-list-item--info {
  border-left: 1px solid $blue-violet;
  &:after {
    border: 1px solid $blue-violet;
  }
}
.recent-activity-list-item--warning {
  border-left: 1px solid $bright-sun;
  &:after {
    border: 1px solid $bright-sun;
  }
}
.recent-activity-list-item--success {
  border-left: 1px solid $jungle-green;
  &:after {
    border: 1px solid $jungle-green;
  }
}

.highlighted {
  .activity-task {
    position: absolute;
    background-color: $picton-blue;
    color: $white-o-90;
    width: calc(100% + 1.5rem);
    padding: 1rem;
    top: 0;
    left: -0.75rem;

    z-index: 1;
    border-radius: 3px;
    a {
      display: none;
    }
  }
}