.user-progress-bar-label-wrapper {
  display: flex;
  align-items: center;
  min-height: 42px;
  justify-content: space-between;
}
.user-progress-bar-wrapper {
  height: 5px;
  background-color: $black-o-10;
  border-radius: 5px;
  overflow: hidden;
}
.user-progress-bar-wrapper--thin {
  height: 2px;
  background-color: $black-o-10;
  border-radius: 5px;
  overflow: hidden;
}
.user-progress-bar {
  height: inherit;
}
.user-progress-bar--primary {
  .user-progress-bar {
    background-color: $picton-blue;
  }
}
.user-progress-bar--info {
  .user-progress-bar {
    background-color: $blue-violet;
  }
}
.user-progress-bar--warning {
  .user-progress-bar {
    background-color: $bright-sun;
  }
}
.user-settings-body {
  padding: 0 0 1rem 0;
}