.sticker {
  padding: 0.25rem 0.5rem;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  font-weight: 700;
  color: $shuttle-gray;
  background-color: $geyser;
  text-shadow: 0 1px 0 $black-o-10;
  box-shadow: 1px 0 1px 0 $black-o-10 inset;
  &::after {
    content: "";
    color: $geyser;
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    bottom: 0;
    right: -12px;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-left: 6px solid;
    margin: auto;
  }
}
.sticker--warning {
  color: $white;
  background-color: $bright-sun;
  &::after {
    border-left-color: $bright-sun;
  }
}
.sticker--info {
  color: $white;
  background-color: $blue-violet;
  &::after {
    border-left-color: $blue-violet;
  }
}

.sticker--primary {
  color: $white;
  background-color: $picton-blue;
  &::after {
    border-left-color: $picton-blue;
  }
}