.notification-timestamp {
  color: $hit-gray;
}

.page-header {
  font-size: 1.5em;
  font-weight: 300;
}

.text--light {
  font-weight: 300;
}
.text--bold {
  font-weight: 700;
}

.text--primary {
  color: $picton-blue
}

.text--info {
  color: $blue-violet;
}

.text--warning {
  color: $bright-sun;
}

.text--success {
  color: $jungle-green;
}

.text--black {
  color: $black;
}

.text--gray {
  color: $shuttle-gray;
}

.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}