//
// transparent colors
//
$black-o-02: rgba(0, 0, 0, 0.02);
$black-o-10: rgba(0, 0, 0, 0.1);
$black-o-30: rgba(0, 0, 0, 0.3);
$black-o-60: rgba(0, 0, 0, 0.6);
$white-o-30: rgba(255, 255, 255, 0.30);
$white-o-80: rgba(255, 255, 255, 0.80);
$white-o-90: rgba(255, 255, 255, 0.90);
//
// solid colors
//

$white : #FFFFFF;
$porcelain: #f6f8f8;
$porcelain-medium: #edf1f2;
$porcelain-dark: #EFF3F4;
$mystic: #e4eaec;
$mystic-dark: #DDE6E9;
$athens-gray: #eaebed;
$gallery: #EEEEEE;
$geyser: #dee5e7;
$geyser-dark: #CFDADD;
$bombay : #b4b6bd;
$aluminium : #a6a8b1;
$hit-gray: #98a6ad;
$manatee: #8b8e99;
$shuttle-gray: #58666e;
$bright-gray: #3a3f51;
$ebony-clay : #2e3344;
$black: #000000;


$jungle-green: #27c24c;
$blue-violet: #7266ba;
$bright-sun: #fad733;
$carnation: #F05050;
$picton-blue: #23b7e5;

