.menu{
  background-color: $bright-gray;
  min-width: 200px;
  width: 75%;
  position: fixed;
  top: 50px;
  bottom: 0;
  z-index: 2;
  display: block;
  overflow-y: auto;
  nav {
    width:100%;
    padding-bottom: 2rem;
  }
  .navigation-header {
    color: $manatee;
    font-size: 0.75rem;
    display: flex;
    min-height: 42px;
    align-items: center;
    padding: 0 1rem;
  }

  .navigation {
    border-bottom: 2px solid $ebony-clay;
    padding: 0.25rem 0;
    .fa-chevron-right {
      font-size: 0.55rem;
      text-align: center;
      margin-left: 0.25rem;
      line-height: 1.5rem;
      color: $white-o-30;
    }
  }
  .navigation-item-header {
    min-height: 42px;
    align-items: center;
    color: $bombay;
    padding: 0.625rem 1.25rem;
    .navigation-item-header-label {
      font-size: 0.875rem;
      span {
        color: $bombay;
      }
      i {
        width: 1rem;
      }
    }
    .navigation-item-icon {
      margin-right: 1rem;
    }
  }
  .navigation-sub-item {
    min-height: 42px;
    align-items: center;
    color: $bombay;
    padding: 0 1.25rem 0 3.5rem;
    display: flex;
    font-size: 0.80rem;
    &:hover {
      background-color: $black-o-10;
    }
  }
  .navigation-item-body {
    background-color: $black-o-30;
  }
  .navigation-item-wrapper.active {
    background-color: $black-o-10;
    span {
      color: $white-o-80;
    }
    .navigation-item-header {
      background-color: $black-o-10;
      color: $white;
    }
    .fa-chevron-right {
      transform: rotate(90deg);
      transform-origin: center;
    }
  }

  .navigation-progress-bar {
    color: $bombay;
    padding: 1.25rem 1.25rem 0 1.25rem;
  }
  .navigation-progress-bar-label {
    font-size: 0.90rem;
    padding: 0 0 0.75rem 0;
  }

}

.social-menu-wrapper {
  background-color:$white;
}

.social-tabs-header {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  align-items: center;
  border-bottom: 1px solid $black-o-10;
  .tab-headers {
    color: $hit-gray;
    padding: 1rem;
    justify-self: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  .tab-headers.active {
    border-bottom: 1px solid $picton-blue;
    margin-bottom: -1px;
  }
}
.social-tabs-content {
  min-height: 250px;
  .tab-content  {
    padding: 1rem;
    display: none;
  }
  .tab-content.active {
    display: block;
  }
  .message-wrapper {
    box-shadow: none;
    grid-template-columns: 30px auto 0;
    .message-text {
      width: auto;
    }
    &:last-of-type {
      margin-bottom: 1rem;
    }
  }
  .chat-button {
    color: $black-o-30;
  }
  .transaction-wrapper {
    padding: 0.375rem 0.625rem;
    border: 1px solid $black-o-10;
    border-radius: 3px;
    margin-bottom: 0.375rem;
    color: $hit-gray;
    &:nth-child(2n+2) {
      background-color: $black-o-02;
    }
    h5 {
      margin-bottom: 0.25rem;
    }
  }
  .tab-content-header {
    margin-bottom: 1rem;
  }
}
.recent-activity-wrapper {
  padding: 1rem;
  .recent-activity-list {
    position: relative;
    padding: 1rem 0;
    &::after {
      content: "";
      display: block;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      background: #fff;
      position: absolute;
      bottom: 7px;
      left: -4px;
      border: 1px solid $geyser;
    }
  }
  .recent-activity-list-item {
    position: relative;
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
  }
  .recent-activity-list-item:after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #fff;
    position: absolute;
    top: 0.90rem;
    left: -5px;
  }

  .activity {
    color: $shuttle-gray;
  }
  .activity-user {
    color: $picton-blue;
  }
  .activity-list-timestamp {
    color: $hit-gray;
    margin-bottom: 0.1875rem;
  }
}



