.charts-stats {
  display: grid;
  padding: 0 var(--space-gap);
  grid-column-start: span 2;
}
.charts-wrapper {
  display: grid;
  grid-gap: 1rem;
  .charts {
    border-radius: 3px 3px 0 0 ;
    background-color: $white;
    align-items: center;
    padding: 1rem;
    color: $aluminium;
    box-shadow: 0 1px 1px $black-o-10;
    h4 {
      margin-bottom: 3px;
    }
  }
  .user-progress-bar-wrapper--light {
    background-color: $white-o-80;
  }
  .chart-header {
    color: $shuttle-gray;
  }
}
.report-stats-wrapper {
  background-color: $mystic;
  padding: 1rem;
  box-shadow: 0 1px 1px $black-o-10;
  .user-progress-bar-wrapper--light {
    background-color: $white;
  }
  .report-progress-bar-footer {
    color: $hit-gray;
    padding-top: 1.5rem;
    line-height: 1.25;
  }
}
svg.chart {
  padding-top: 1rem;
}
