.messages-stats {
  padding: 0 var(--space-gap) 2rem var(--space-gap);
  display: grid;
  grid-gap: 0.5rem;
}
.message-wrapper {
  display: grid;
  grid-template-columns: 30px calc(100% - 30px - 1rem);
  grid-gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 1px 1px $black-o-10;
  overflow-x: hidden;
  .message-sender {
    margin-bottom: 0.1875rem;
  }
  .message-text {
    color: #98a6ad;
  }
}

.availability-indicator--top {
  top: 0;
}