.dashboard-stats {
  display: grid;
  grid-gap: var(--space-gap);
  padding: var(--space-gap);
  .cards-wrapper{
    display: grid;
    grid-gap: 1rem;
    .stats {
      border-radius: 3px;
      background-color: $white;
      justify-items: center;
      align-items: center;
      padding: 0.25rem;
      display: grid;
      i {
        font-size:0.75rem;
        line-height: 1;
      }
    }
    .stats--info {
      background-color: $blue-violet;
      color: $white;
      h1 {
        color: $white;
      }

      h5 {
        color: $white-o-80;
      }

      .fa-cloud-upload-alt {
        color: $geyser;
      }
    }
    .stats--primary {
      background-color: $picton-blue;
      h1 {
        color: $white;
      }
      h5 {
        color: $white-o-80;
      }
    }
  }
  .cards-wrapper--full-width {
    grid-template-columns: 1fr;
  }
  .cards-wrapper--half-width {
    grid-template-columns: 1fr 1fr;
  }
  .graph-info-wrapper {
    grid-template-columns: 90px 1fr;
    grid-gap: unset;
    .graph-wrapper, .info-wrapper {
      padding: 1rem;
    }
    .graph-wrapper {
      background-color: $mystic-dark;
    }
    .info-wrapper {
      justify-items: center;
      grid-gap: 0.25rem;
      display: grid;
      background-color: $mystic;
      border-radius: 0 3px 3px 0;
    }
    .pie {
      width: 2.5rem;
      background: $porcelain;
      border-radius: 50%;
      margin: auto;
      display: block;
      circle {
        fill:none;
        stroke: $bright-sun;
        stroke-width: 32;
        stroke-dasharray: 60%
      }
    }
  }
  .stats-info-wrapper {
    .stats {
      grid-template-rows: 0.75rem auto auto 0.75rem;
      box-shadow: 0 1px 1px $black-o-10;
      grid-row-gap: 0.35rem;
      h1 {
        grid-row-start: 2;
      }
      h5 {
        grid-row-start: 3;
      }
      &:nth-child(1) {
        i {
          justify-self: flex-end;
          grid-row-start: 4;
        }
      }
      &:nth-child(2) {
        i {
          justify-self: flex-end;
          grid-row-start: 4;
        }
      }
      &:nth-child(3) {
        i {
          justify-self: flex-start;
          grid-row-start: 1;
        }
      }
      &:nth-child(4) {
        i {
          justify-self: flex-start;
          grid-row-start: 4;
          padding-top: 0.75rem;
        }
      }
    }
  }
}