
.header-navbar {
  background-color: $bright-gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navbar-logo {
  margin-left: 20px;
  i, span {
    color: $athens-gray;
    font-size: 1.15rem;
  }
  i {
    margin-right: 0.5rem;
  }
  span {
    font-weight: 700;
  }
}
.header-navbar-options {
  display: flex;
  flex-basis: 100px;
  button {
    color: $aluminium;
    font-size: 1rem;
    min-height: 50px;
    flex-basis: 50%;
  }
  .settings-option-btn {
    background-color: $ebony-clay;
  }
}
.settings-option-wrapper {
  color: $shuttle-gray;
  font-size: 0.85rem;
  border-bottom: 1px solid $black-o-10;
  background-color: $white;
  position: fixed;
  z-index: 2;
  width: 100%;
  i {
    margin: 0 0.20rem;
  }
  .settings-option-item {
    border-bottom: 1px solid $black-o-10;
    &:last-child {
      border-bottom: medium none;
    }
  }
  .settings-option-header {
    display: flex;
    align-items: center;
    min-height: 42px;
    padding: 0 0.80rem;
    justify-content: space-between;
  }
  .settings-option-body {
    border-top: 1px solid $black-o-10;
    .dropdown-menu-wrapper {
      .dropdown-menu-header-wrapper{
        padding: 0.5rem 0.80rem 0.5rem 1rem;
      }
      .dropdown-menu-header {
        color: $shuttle-gray;
      }
    }
    .dropdown-menu-item {
      padding: 1rem 0 0 0;
    }
    .dropdown-submenu-wrapper {
      display: grid;
      grid-template-columns: 50% 50%;
      padding: 0 1rem 0 1rem;
      .dropdown-submenu-item {
        padding: 0.5rem 0;
        i {
          font-size: 0.50rem;
          color: $hit-gray;
        }
      }
    }
  }
  .fa-sort-down {
    font-size: 0.75rem;
  }
  .dropdown-graph-wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    padding: 0 0 1rem 0;
    svg {
      grid-column-start: 2;
    }
  }
}

.settings-option-item.active {
  .settings-option-header {
    background-color: $gallery;
  }
  .availability-indicator {
    border-color: $gallery;
  }
  .settings-option-body {
    border-top-color: $gallery;
    .dropdown-menu-header {
      color: $ebony-clay;
    }
  }
  .user-settings-header {
    background-color: $gallery;
  }
}


.user-availability {
  position: relative;
  .availability-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    right: -3px;
    border: 3px solid $white;
  }
  .availability-indicator--available {
    background-color: $jungle-green;
  }
  .availability-indicator--busy {
    background-color: $carnation;
  }
  .availability-indicator--away {
    background-color: $bright-sun;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.divider {
  height:1px;
  background-color: $black-o-10;
}

.notifications-wrapper-header {
  display: flex;
  align-items: center;
  min-height: 42px;
  padding: 0 0.80rem;
  justify-content: space-between;
  background-color: $gallery;
}
.notification {
  display: flex;
  min-height: 50px;
  padding: 0.5rem 0.80rem 0.5rem 1rem;
  border-bottom: 1px solid $black-o-10;
  &:last-child {
    border-bottom: medium none;
  }
  img {
    margin-right: 1rem;
  }
  .notification-content {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
}
.notification-settings {
  justify-content: space-between;
  align-items: center;
  i {
    font-size: 0.75rem;
  }
}

.user-settings-header {
  padding: 0 0.80rem 1rem 0.80rem;
  border-bottom: 1px solid $black-o-10;
}



.page-header-wrapper {
  background-color: $porcelain;
  border-bottom: 1px solid $geyser;
  padding: 1rem 0.95rem 1rem 0.95rem;
  h3 {
    line-height: 1;
    margin-bottom: 3px;
  }
  h5 {
    color: $black-o-60;
  }
}