//
// Tasks
//

.task-stats {
  display: grid;
  padding: var(--space-gap) var(--space-gap) 0 var(--space-gap);
  grid-column-start: span 2;
  .tasks-wrapper {
    display: grid;
    grid-gap: 0.65rem;
    background-color: $white;
    padding: 1rem 1rem 0 1rem;
    box-shadow: 0 1px 1px $black-o-10;
    font-size: 0.875rem;

    h4 {
      margin-bottom: 0.75rem;
    }
  }
  .task-wrapper {
    display: inline-grid;
    grid-template-columns: 3.20rem auto;
    grid-column-gap: 1.2rem;
    align-items: center;
  }
}
.donut-progress-bar {
  width: 80%;
  max-width: 180px;
}
.donut-progress-bar-wrapper {
  background-color: $white;
  display:grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0 0 3px 3px;
  justify-items: center;
  align-items: center;
  padding: 0.25rem;
  box-shadow: 0 1px 1px $black-o-10;
  .chart-text {
    font: $default-font-size $default-font-family;
    fill: $hit-gray;
    transform: translateY(0.10rem);
  }
  .chart-number {
    font-size: 0.35rem;
    text-anchor: middle;
  }
  h6 {
    font-weight: 700;
    color: $hit-gray;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}
.donut-progress-bar-wrapper--info {
  .chart-number {
    fill: $blue-violet;
  }
}
.donut-progress-bar-wrapper--primary {
  .chart-number {
    fill: $picton-blue;
  }
}