//
// Teammates
//
.teammates-stats {
  padding: var(--space-gap);
}
.teammate-header-wrapper {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $black-o-10;
  border-radius: 3px 3px 0 0;
}
.teammate-body-wrapper {
  box-shadow: 0 1px 1px $black-o-10;
  border-radius: 0 0 3px 3px;
}
.teammate-indicators-wrapper {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.teammate-indicator--info {
  i {
    color: $blue-violet;
  }
}
.teammate-indicator--primary {
  i {
    color: $picton-blue;
  }
}
.teammate-indicator--warning {
  i {
    color: $bright-sun;
  }
}

.teammate-body-wrapper {
  background-color: $white;
}
.teammate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid $black-o-10;
  &:last-child {
    border-bottom: 0;
  }
  .teammate-image {
    width: 40px;
    border-radius: 4px;
  }
  h5 {
    width: 100%;
    padding: 0 1rem;
  }
}