* {
  box-sizing: border-box;
}
:root {
  --space-gap: 1rem;
}
html {
  font-family: $default-font-family;
  font-size: $default-font-size;
}

body {
  color: $shuttle-gray;
  background-color: $porcelain-dark;
}

header {
  min-height: 50px;
  position: sticky;
  top: 0;
  z-index: 2;
}
img {
  max-width: 100%;
}



h1 { font-size: 2.25rem;  }
h2 { font-size: 1.875rem; }
h3 { font-size: 1.5rem;   }
h4 { font-size: 1.125rem; }
h5 { font-size: 0.875rem; }
h6 { font-size: 0.75rem;  }